node_modules
public
coverage
.scannerwork
.serverless
serverless
.vscode
/data
.env
ormconfig.json
/.husky
temp/*
temp/profiles/*
uploads/*
uploads/profiles/*
uploads/profiles/avatar/*
!temp/.gitkeep
!temp/profiles
!temp/profiles/.gitkeep
!uploads/.gitkeep
!uploads/profiles
!uploads/profiles/.gitkeep
!uploads/profiles/avatar
!uploads/profiles/avatar/.gitkeep
!uploads/profiles/avatar/test.jpg
!uploads/profiles/avatar/default.png
!uploads/test.jpg